<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="game-container">
        <img id="card-image" src="" alt="Card Image">
        <p id="card-word"></p>
        <button id="true-button">True</button>
        <button id="false-button">False</button>
    </div>
    <script src="{{ url_for('static', filename='cards.js') }}"></script>
</body>
</html>

