{% extends "Home.html" %}

{% block title %}Авторизація{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Карточки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        const csrf_token = "{{ csrf_token() }}";
    </script>
</head>
<body>
    <div class="card-container">
        <img id="card-image" src="" alt="Картка" class="card-image">
        <div class="button-container">
            <button id="true-button" class="card-button">Правда</button>
            <button id="false-button" class="card-button">Брехня</button>
        </div>
        <p id="card-word" class="card-word"></p>
    </div>
    <script src="{{ url_for('static', filename='cards.js') }}"></script>
</body>
{% endblock %}

