{% extends "Home.html" %}

{% block title %}Головна сторінка{% endblock %}

{% block content %}
    <div class="main-content">
    <h1>Вас вітає LOCUS! </h1>
        <p>Жити треба, граючись! – колись сказав Платон. А ми додаємо: вивчайте мови, граючись! Тут ви знайдете цікаві вправи, що відкриють всередині вас ту «внутрішню дитину», якій все весело і все цікаво! Ви можете зберігати і відслідковувати свій прогрес! Вперед, пограємось в італійську мову!</p>
        <div class="welcome-message">
            {% if current_user.is_authenticated %}
                <p>Зіграйте в карточки! Чи відповідає слово картинці?</p>
                <a href="{{ url_for('play_game') }}" class="btn-play">Перейти до гри "Карточки"</a>
            {% else %}
                <p>Увійдіть, щоб зіграти</p>
                <a href="{{ url_for('login') }}" class="btn-play">Увійти</a>
            {% endif %}
        </div>
    </div>
{% endblock %}



