{% extends "Home.html" %}

{% block title %}Скидання паролю{% endblock %}

{% block content %}
    <div class="reset-password-container">
        <h1>Скидання паролю</h1>
        <p>Наразі нема можливості оновлення паролю, через труднощі з поштовим провайдером. Будь ласка, спробуйте пізніше</p>
        <form class="reset-password-form" method="POST">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.email(class="form-control", placeholder="Email") }}
                {% for error in form.email.errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn btn-primary btn-lg btn-block") }}
            </div>
        </form>
    </div>
{% endblock %}
